<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get to know Ahmed!</title>
</head>
<body>
    <h1>Ahmed H. Sheikh</h1>

    <h2>Background</h2>

    <p>Ahmed was born on December 5, 2000 in New York City, NY. He grew up in Baltimore, MD and has 2 siblings.
    His elder brother is named Awais and his younger sister is named Maheen. Currently, Ahmed is a senior
        at the University of Maryland in College Park, MD. Here is his <strong>current courselist</strong>:
    </p>

    <ul>
        <li>BMGT407</li>
        <li>BMGT441</li>
        <!-- Highly recommend this next class (Fundamentals of Sign Language). It's a lot of fun and for beginners -->
        <li>EDSP376</li>
        <li>ECON306</li>
    </ul>

    <p> Here are some of his <em>past</em> courses:</p>

    <table>
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Semester</th>
        </tr>

        <tr>
            <td>BMGT403</td>
            <td>Systems Analysis and Design</td>
            <td>Fall 2022</td>
        </tr>

        <tr>
            <td>BMGT380</td>
            <td>Business Law 1</td>
            <td>Fall 2022</td>
        </tr>

        <tr>
            <!-- This was my favorite class last semester -->
            <td>BMGT402</td>
            <td>Database Systems</td>
            <td>Fall 2022</td>
        </tr>
    </table>

    <h2>Future</h2>

    <p>Upon graduating with a Bachelor's degree in <em>Finance and information Systems</em>, Ahmed plans to begin work
         at <strong>Capital One</strong> in Mclean, VA. He's very excited to step into the professional world following
        his previous internship at Bank of America in the Summer of 2022.
    </p>
    <!-- Although Ahmed Wanted to be in NYC for his full time job, Capital One was paying a lot more and that influenced
    his decision, on top of it beign close to home.-->

    <h3>Personal Life</h3>

    <p>For his study abroad experience in the Spring of 2022, Ahmed spent a few months living in Madrid, Spain. Clearly,
        he's quite the traveler, having been to 9 countries, and counting (order of favorite to least favorite):
    <ol>
        <li>Spain</li>
        <li>Pakistan</li>
        <li>Portugal</li>
        <li>United Arab Emirates</li>
        <li>Qatar</li>
        <li>Bahrain</li>
        <li>Canada</li>
        <li>Saudi Arabia</li>
        <li>United Kingdom</li>
    </ol>
        On his trip of Spain, he discovered that one of his favorite brands,
        <a href="https://www.zara.com/us/" target="_blank"> Zara</a> was selling clothes at almost-half prices when
        compared to the US prices.
    </p>
    <p>
       Aside from shopping, in his free time Ahmed enjoys going to the gym and playing sports with his friends. He plays
        basketball, soccer sometimes, and more recently spikeball. Additionally, he spends a lot of time on the social
        media app <a href="https://www.tiktok.com/foryou"> tiktok</a>. He's currently learning to code as part of his
        BMGT407 course. Check out his first <a href="/hello" target="_blank"> site</a>!
    </p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="400" height="110"
         alt="Smith School Logo" />

</body>
</html>